apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: portfolio-policy
  namespace: default
spec:
  action: ALLOW
  rules:
    - to:
        - operation:
            methods: ["*"]
