name: DISABLED legacy SWA workflow

on:
  workflow_dispatch:

jobs:
  noop:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Legacy SWA workflow disabled in favor of ci.yml static-deploy"
